{% extends 'base.html.twig' %}
{% block title%}Archivos{% endblock %}
{% block body %}
    <div class="menu-bar">
        {{ include ('page/partials/navigator.html.twig') }}
    </div>
    <div class="body-content">
        <header id="headerImg">
            <img src="img/frutiger-aero.png" alt="titulo">
            <img src="img/welcomeFA.png" alt="welcomeFA">
        </header>
        <section id="intro">
            <h2>¿Qué es "Frutiger Aero"?</h2>
            <p>
                Frutiger Aero es una estética de diseño popular entre 2004 y 2013 que combina tecnología y naturaleza, usando
                elementos como cristales, burbujas, agua, peces y paisajes de cielos azules y verdes. Su nombre proviene de la
                tipografía Frutiger y de la interfaz gráfica Windows Aero. El estilo se caracteriza por el esqueumorfismo
                brillante y transparente, transmitiendo optimismo y una conexión con la naturaleza, pero desapareció en la
                década de 2010 al ser reemplazado por el diseño plano y minimalista.
            </p>
        </section>

        <div id="contenido">
            <div id="mainContenido">
                <section id="multimedia">
                    <h3>Multimedia</h3>

                    <article>
                        <p><strong>Video sobre Frutiger Aero</strong></p>
                        <video src="media/Flash%20Casanova%20Lease.mp4" controls width="640"></video>
                    </article>

                    <article>
                        <p><strong>Canción típica de Frutiger Aero</strong></p>
                        <audio src="media/Flash%20Casanova%20Lease.mp3" controls></audio>
                    </article>
                </section>
                <section id="galeria-imagenes">
                    {# Aquí el código de la galería de imagenes de las personas que lo han publicado en la categoría (poner categoría también) #}
                    <div class="image-grid">
                        {% for image in images %}
                            {% set imagePath = asset('uploads/images/' ~ image.file|url_encode) %}
                            <div class="image-item">
                                <img src="{{ imagePath }}" alt="imagen {{ image.id }}">
                                <p><strong>Categoría:</strong> {{ image.category.name }}</p>
                                <p>
                                    <button class="btn-like" data-id="{{ image.id }}">👍</button> Likes: <span id="likes-{{ image.id }}">{{ image.numLikes }}</span>
                                    | 👁️ Vistas: {{ image.numViews }}
                                    | <button class="btn-download" data-id="{{ image.id }}" data-file="{{ imagePath }}">⬇</button><span id="downloads-{{ image.id }}">{{ image.numDownloads }}</span>
                                </p>
                                <button class="btn-delete" data-id="{{ image.id }}">Borrar imagen</button>
                                <button type="button"><a href="{{ path('imagen-nueva') }}">Subir otra Nueva</a></button>
                            </div>
                        {% else %}
                            <div class="no-images">
                                <p>No hay imágenes publicadas todavía.</p>
                                <p>¡Pulsa el botón para subir una tuya!</p>
                                <a href="{{ path('imagen-nueva') }}" class="custom-file-button">Subir imagen nueva</a>
                            </div>
                        {% endfor %}
                    </div>
                    {% block javascripts %}
                        <script src="{{ asset('js/botones-archieves.js') }}"></script>
                    {% endblock %}
                </section>
            </div>
            <aside>
                <section>
                    <h3>Relacionado</h3>
                    <ul>
                        <li><a href="https://es.wikipedia.org/wiki/Frutiger_Aero">Frutiger Aero — Wikipedia</a></li>
                        <li><a href="https://es.wikipedia.org/wiki/Y2K_(est%C3%A9tica)">Y2K</a></li>
                        <li><a href="https://es.wikipedia.org/wiki/Skeuomorfismo">Skeuomorfismo</a></li>
                        <li><a href="https://es.wikipedia.org/wiki/Vaporwave">Vaporwave</a></li>
                        <li><a href="https://es.wikipedia.org/wiki/Cyberdelia">Cyberdelia</a></li>
                    </ul>
                </section>
                <section>
                    <header>
                        <h3>Google maps</h3>
                        <p>Una de las cosas que también entran en el ámbito Frutiger Aero es el Google Maps:</p>
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3105.0010748976975!2d-0.057312!3d39.9864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x123456789abcdef!2sCastellón%20de%20la%20Plana!5e0!3m2!1ses!2ses!4v0000000000000"
                                allowfullscreen=""
                                loading="lazy">
                        </iframe>
                    </header>
                </section>
            </aside>
        </div>
    </div>
{% endblock %}