<nav id="navMain">
    <ul>
        <li><a href="{{ path('index') }}">Blog</a></li>
        <li><a href="{{ path('about') }}">Sobre Nosotros</a></li>
        <li><a href="{{ path('archieves') }}">Archivos</a></li>
        <li><a href="{{ path('contact') }}">Contacto</a></li>
        <li class="subscribe"><a href="#">Suscríbete via. RSS</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('app_images') }}">Imágenes</a></li>
            <li><a href="{{ path('app_categories') }}">Categorías</a></li>
        {% endif %}
    </ul>
</nav>
<nav id="navLogin">
    {% if app.user %}
        <a href="{{ path('app_logout') }}">
            {{ app.user.name }} - Cerrar Sesión
        </a>
    {% else %}
        <a href="{{ path('app_login') }}">
            Iniciar Sesión
        </a>
        <a href="{{ path('app_register') }}">
            Registrarse
        </a>
    {% endif %}
</nav>