{% extends 'base.html.twig' %}
{% block title%}Categories{% endblock %}
{% block body%}
    <div class="menu-bar">
        {{ include ('page/partials/navigator.html.twig') }}
    </div>
    <div class="body-content">
        <header id="headerImg">
            <img src="{{ asset('img/frutiger-aero.png') }}" alt="titulo">
            <img src="{{ asset('img/welcomeFA.png') }}" alt="welcomeFA">
        </header>
        <section id="intro">
            <h2>¿Qué es "Frutiger Aero"?</h2>
            <p>
                Frutiger Aero es una estética de diseño popular entre 2004 y 2013 que combina tecnología y naturaleza, usando
                elementos como cristales, burbujas, agua, peces y paisajes de cielos azules y verdes. Su nombre proviene de la
                tipografía Frutiger y de la interfaz gráfica Windows Aero. El estilo se caracteriza por el esqueumorfismo
                brillante y transparente, transmitiendo optimismo y una conexión con la naturaleza, pero desapareció en la
                década de 2010 al ser reemplazado por el diseño plano y minimalista.
            </p>
        </section>
        <section id="container">
            <div id="categories">
                <h1>Categorias</h1>
                <p>Crea ya tu propia categoría relacionada con el mundo aero o Frutiger Aero</p>
                {{ form_start(form) }}
                <p>
                    {{ form_row(form.name, {
                        label: 'Nombre de la categoría: '
                    }) }}
                </p>
                <button type="submit" class="btn">Enviar Categoría</button>
                {{ form_end(form) }}
            </div>
            <aside style="display: flex; justify-content: center">
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre de la categoría</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <th scope="row">{{ category.id }}</th>
                                <td>
                                    {{ category.name }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </aside>
        </section>
    </div>
{% endblock %}