{% extends 'base.html.twig' %}
{% block title %}Images{% endblock %}
{% block body %}
    <div class="menu-bar">
        {{ include ('page/partials/navigator.html.twig') }}
    </div>
    <div class="body-content">
        <header id="headerImg">
            <img src="{{ asset('img/frutiger-aero.png') }}" alt="titulo">
            <img src="{{ asset('img/welcomeFA.png') }}" alt="welcomeFA">
        </header>
        <section id="intro">
            <h2>¿Qué es "Frutiger Aero"?</h2>
            <p>
                Frutiger Aero es una estética de diseño popular entre 2004 y 2013 que combina tecnología y naturaleza, usando
                elementos como cristales, burbujas, agua, peces y paisajes de cielos azules y verdes. Su nombre proviene de la
                tipografía Frutiger y de la interfaz gráfica Windows Aero. El estilo se caracteriza por el esqueumorfismo
                brillante y transparente, transmitiendo optimismo y una conexión con la naturaleza, pero desapareció en la
                década de 2010 al ser reemplazado por el diseño plano y minimalista.
            </p>
        </section>
        <section id="contenido" style="padding: 10px 25px;">
            <div id="images">
                <h1>Images</h1>

                <form name="image_form" method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div id="image_form" class="form-horizontal">

                        {# Botón personalizado para seleccionar archivo #}
                        <div class="custom-file-wrapper">
                            {{ form_label(form.file) }}
                            {{ form_widget(form.file, {'attr': {'class':'custom-file-input', 'style':'display:none;'}}) }}
                            <label for="{{ form.file.vars.id }}" class="custom-file-button">
                                Seleccionar archivo<span class="custom-file-text" id="file-name">Ningún archivo seleccionado</span>
                            </label>

                        </div>

                        {{ form_row(form.numLikes) }}
                        {{ form_row(form.numViews) }}
                        {{ form_row(form.numDownloads) }}
                        {{ form_row(form.category) }}

                        {{ form_widget(form.Enviar, {'attr': {'class':'submit-button'}}) }}

                        {{ form_rest(form) }}
                    </div>
                </form>
                <hr class="divider">
            </div>
        </section>

        {# JS para mostrar el nombre del archivo seleccionado #}
        <script>
            const inputFile = document.querySelector('.custom-file-input');
            const fileName = document.getElementById('file-name');

            inputFile.addEventListener('change', function() {
                if(this.files.length > 0){
                    fileName.textContent = this.files[0].name;
                } else {
                    fileName.textContent = "Ningún archivo seleccionado";
                }
            });
        </script>
    </div>
{% endblock %}
